@mixin section_type1() {
	.cont {
	transition: $TRANSITON_OVER;
	box-shadow: 0 0 $space-inline rgba(0,0,0,.075);
	background-color: #fff;
	padding: $space-block;
	}
	.head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: $space-block;
		h2 {
		margin-right: $space-block;
		margin-bottom: 0;
		}
		label {
		margin-right: $space-block;
		margin-bottom: 0;
		}
	}
	h2 {
	position: relative;
	margin-bottom: $space-block;
	padding-left: 1.5em;
	font-size: 20px;
	font-weight: bold;
		svg {
		transform: translate(0%, -50%);
		position: absolute;
		left: 0;
		top: 50%;
		color: var(--color-set1-accent);
		}
	}
}